# build type: PRODUCT or DEVELOP
# MIMX8MQ6CVAHZAB
# Note, the tool chains should use
#       $ curl -fsSL "https://raw.githubusercontent.com/carloscn/script/master/down_tool_chains/down_toolchain_linaro_7.5.0.sh" | bash
# Download it!

export TOOLS=/opt/cross-compile
export CM_CROSS_COMPILE=${TOOLS}/gcc-linaro-7.5.0-2019.12-x86_64_arm-eabi/bin/arm-eabi-
export CA_CROSS_COMPILE=${TOOLS}/gcc-linaro-7.5.0-2019.12-x86_64_aarch64-linux-gnu/bin/aarch64-linux-gnu-
export CROSS_COMPILE=${CA_CROSS_COMPILE}
export BRANCH=lf-5.10.y_1.0.0
export UBOOT_BRANCH=master
export ATF_BRANCH=lf-5.10.y-1.0.0
export LINUX_BRANCH=develop_lf-5.10.y
export MKIMAGE_BRANCH=lf-5.10.y_1.0.0
export OPTEE_OS_BRANCH=lf-5.10.y_1.0.0
export OPTEE_CLIENT_BRANCH=lf-5.10.y_1.0.0
export OPENSSL_REPO=https://github.com/openssl/openssl.git
export OPENSSL_BRANCH=OpenSSL_1_0_2n
export UDISK=/media/${USER}